---
title: "Cove"
layout: default
description: "Hey, this is cove."
header-img: "img/home-bg-art.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>在快乐里不诘问快乐<br>
    在辛苦里不以为辛苦</p></blockquote>

    <p>Hey，我是<strong>cove</strong>.</p>
    <p>  <img src="https://github.com/kokozeng/kokozeng.github.io/blob/master/img/webwxgetmsgimg.jpeg?raw=true" width="1440" height="1080" />  </p>
<p> <img src="https://github.com/kokozeng/kokozeng.github.io/blob/master/img/webwxgetmsgimg%20(1).jpeg?raw=true"  /> </p>
    <p> <img src="https://github.com/kokozeng/kokozeng.github.io/blob/master/img/webwxgetmsgimg%20(2).jpeg?raw=true"  /> </p> 
<p> <img src="https://github.com/kokozeng/kokozeng.github.io/blob/master/img/webwxgetmsgimg%20(4).jpeg?raw=true"  /> </p>
<p> <img src="https://github.com/kokozeng/kokozeng.github.io/blob/master/img/webwxgetmsgimg%20(5).jpeg?raw=true"  /> </p>
<p> <img src="https://github.com/kokozeng/kokozeng.github.io/blob/master/img/webwxgetmsgimg%20(6).jpeg?raw=true"  /> </p>

    <p></p>

</div>




