---
title: view
layout: default
---

<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>KOKO - Timeline</title>
		<link rel="stylesheet" type="text/css" href="css/timeline.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container" style="margin:0;padding:0;width:100%;">
			<header>
				<! <img width="175" height="175" style="border-radius:50%;" src="/img/koko.jpg"> 
			</header>
			<div class="main">
				<ul class="cbp_tmtimeline">
						
					<li>
						<div class="cbp_tmlabel">
							<h2>陆家嘴</h2>
							<time>2019.08.11</time>
							<img src="http://blogpicturekoko.oss-cn-beijing.aliyuncs.com/blog/2019-08-15-DSCF3138.JPG">
							<ul>
								<li>
									 爱黄昏与晚霞。
								</li>
						</div>
					</li>
					
					<li>
						<div class="cbp_tmlabel">
								<h2>拙政园</h2>
								<time>2019.05.18</time>
								<img src="http://blogpicturekoko.oss-cn-beijing.aliyuncs.com/blog/2019-08-15-DSCF2918.JPG">
								<ul>
									<li>
										红砖与绿树。 
									</li>
						</div>
					</li>

					<li>
						<div class="cbp_tmlabel">
								<h2>衡山路</h2>
								<time>2019.04.20</time>
								<img src="http://blogpicturekoko.oss-cn-beijing.aliyuncs.com/blog/2019-08-15-DSCF2276.JPG">
								<ul>
									<li>
										奥黛丽与小兔子。 
									</li>
						</div>
					</li>
					
					
							</ul>
						</div>
					</li>
					
					
				
		
					


					



				</ul>
			</div>
		</div>
	</body>
</html>
